/*---Fonts---*/




//Lobster1.4

@font-face {
  font-family: 'Lobster1.4';
  src: url('../fonts/Lobster1.4/Lobster1.4.eot');
  src: url('../fonts/Lobster1.4/Lobster1.4.woff2') format('woff2'),
       url('../fonts/Lobster1.4/Lobster1.4.woff') format('woff'),
       url('../fonts/Lobster1.4/Lobster1.4.ttf') format('truetype'),
       url('../fonts/Lobster1.4/Lobster1.4.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


//OpenSans

@font-face {
    font-family: 'OpenSans-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2');
    src: url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/OpenSans-Regular/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.eot');
    src: url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff2') format('woff2'), url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot');
    src: url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff2') format('woff2'), url('../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url('../fonts/OpenSans-ExtraBold/OpenSans-Extrabold.woff') format('woff'), url('../fonts/OpenSans-ExtraBold/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
    src: url('OpenSans-ExtraBoldItalic.woff2') format('woff2'), url('OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraboldItalic';
    src: url('OpenSans-ExtraboldItalic.woff') format('woff'), url('OpenSans-ExtraboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic/OpenSans-Italic.woff2') format('woff2'), url('../fonts/OpenSans-Italic/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic/OpenSans-Italic.ttf') format('truetype'), url('../fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.eot');
    src: url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.woff2') format('woff2'), url('../fonts/OpenSans-LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight-Italic';
    src: url('../fonts/OpenSans-LightItalic/OpenSansLight-Italic.woff') format('woff'), url('../fonts/OpenSans-LightItalic/OpenSansLight-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.woff2') format('woff2'), url('../fonts/OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.eot');
    src: url('../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.woff2') format('woff2'), url('../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), url('../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), url('../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


//MyriadPro

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadProBold/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadProBold/MyriadPro-Bold.woff2') format('woff2'),
       url('../fonts/MyriadProBold/MyriadPro-Bold.woff') format('woff'),
       url('../fonts/MyriadProBold/MyriadPro-Bold.ttf') format('truetype'),
       url('../fonts/MyriadProBold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-BoldIt';
  src: url('../fonts/MyriadProBoldItalic/MyriadPro-BoldIt.woff') format('woff'),
       url('../fonts/MyriadProBoldItalic/MyriadPro-BoldIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProBoldItalic';
  src: url('../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot');
  src: url('../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff2') format('woff2'),
       url('../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-It';
  src: url('../fonts/MyriadProItalic/MyriadPro-It.woff') format('woff'),
       url('../fonts/MyriadProItalic/MyriadPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProItalic';
  src: url('../fonts/MyriadProItalic/MyriadProItalic.eot');
  src: url('../fonts/MyriadProItalic/MyriadProItalic.woff2') format('woff2'),
       url('../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadProRegular/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadProRegular/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadProRegular/MyriadProRegular.eot');
  src: url('../fonts/MyriadProRegular/MyriadProRegular.woff2') format('woff2'),
       url('../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('../fonts/MyriadProSemiBold/MyriadPro-Semibold.woff') format('woff'),
       url('../fonts/MyriadProSemiBold/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProSemiBold';
  src: url('../fonts/MyriadProSemiBold/MyriadProSemiBold.eot');
  src: url('../fonts/MyriadProSemiBold/MyriadProSemiBold.woff2') format('woff2'),
       url('../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-SemiboldIt';
  src: url('../fonts/MyriadProSemiBoldItalic/MyriadPro-SemiboldIt.woff') format('woff'),
       url('../fonts/MyriadProSemiBoldItalic/MyriadPro-SemiboldIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProSemiBoldItalic';
  src: url('../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot');
  src: url('../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff2') format('woff2'),
       url('../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
//    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot');
//    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot') format('embedded-opentype');
    src: url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2');
    src: url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff');
    src: url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
    src: url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}


