@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 992px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    header {
        height: 70px;
        .burger-icon {
            display: block;
        }
        nav {
            height: 100%;
            position: fixed;
            left: -100%;
            top: 0;
            background: rgba(255, 255, 255, 0.95);
            width: 100%;
            padding-top: 70px;
            box-sizing: border-box;
            transition: all 0.3s ease-out;
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                li {
                    width: 100%;
                    a {
                        width: 100%;
                        justify-content: center;
                        border: none;
                        &:hover {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-height: 567px) {}
