@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
    //header
    header {
        height: 70px;
        .burger-icon {
            display: block;
        }
        nav {
            height: 100%;
            position: fixed;
            left: -100%;
            top: 0;
            background: rgba(255, 255, 255, 0.95);
            width: 100%;
            padding-top: 70px;
            box-sizing: border-box;
            transition: all 0.3s ease-out;
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                li {
                    width: 100%;
                    a {
                        width: 100%;
                        justify-content: center;
                        border: none;
                        text-transform: uppercase;
                        &:hover {
                            border: none;
                        }
                    }
                }
            }
        }
    }
    //hero
    .hero {
        padding-top: 70px;
        height: 100%;
        .slick-slider,
        .slick-track,
        .slick-list,
        .container {
            height: 100%;
            box-sizing: border-box;
        }
        &-slider {
            &-item {
                .slider-text {
                    h2 {
                        font-size: 2.500em;
                        margin-bottom: 30px;
                        line-height: 1;
                    }
                    p {
                        line-height: 1.5;
                    }
                    button {
                        width: 170px;
                        height: 50px;
                    }
                }
            }
        }
    }
    //team
    .team {
        padding-top: 80px;
        .title {
            margin-bottom: 80px;
        }
        &-items {
            .team-item {
                margin-bottom: 80px;
                &-image {
                    width: 150px;
                    height: 150px;
                    margin: 0 auto 20px;
                }
                &-title {
                    h4 {}
                    p {}
                }
                &-description {}
            }
        }
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-height: 567px) {
    //hero
    .hero {
        &-slider {
            &-item {
                .slider-text {
                    h2 {
                        margin-bottom: 10px;
                        line-height: 1;
                    }
                    p {
                        line-height: 1.2;
                        margin-bottom: 25px;
                    }
                    button {
                        width: 170px;
                        height: 50px;
                    }
                }
            }
        }
        .slick-dots {
            text-align: right;
            right: 19px;
        }
    }
}
